rbac:
  create: true

controller:
  config:
    use-proxy-protocol: "true"
  service:
    type: LoadBalancer
    annotations: {{ kubernetes_ingress_controller_annotations }}
    stats:
      enabled: true
    metrics:
      enabled: true